<mat-card>
    <mat-card-content>
        <form #addPasswordForm="ngForm" (ngSubmit)="onSubmit()">
            <h2>Add a new password</h2>
            <mat-form-field>
                <input matInput placeholder="URL" [(ngModel)]="url" name="URL" required>
                <mat-error>
                    Please provide a URL
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Description" [(ngModel)]="description" name="Description">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Username" [(ngModel)]="username" name="Username" required>
                <mat-error>
                    Please provide a valid username
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
                <mat-error>
                    Please provide a valid password
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!addPasswordForm.form.valid">Add</button>
            <button mat-raised-button (click)="cancel()">Cancel</button>
        </form>
    </mat-card-content>
</mat-card>