<button mat-raised-button class="logout" (click)="logout()">Logout {{auth.email}}</button>
<mat-card>
    <mat-card-content>
        <div *ngIf="!data"><mat-spinner diameter=30></mat-spinner></div>
        <div *ngIf="data">
            <button mat-raised-button (click)="addPassword()">+ Add a new password</button>
            <mat-table [dataSource]="data">
                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let data">
                        <mat-icon (click)="deletePassword($event, data)">delete</mat-icon>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="url">
                    <mat-header-cell *matHeaderCellDef>URL</mat-header-cell>
                    <mat-cell *matCellDef="let data">
                        {{data.url}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                    <mat-cell *matCellDef="let data">
                        {{data.description}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
                    <mat-cell *matCellDef="let data">
                        {{data.username}}
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showPassword(row)"></mat-row>
            </mat-table>
        </div>
    </mat-card-content>
</mat-card>